<div
  class="flex h-screen bg-gray-50 dark:bg-gray-900 transition-colors duration-200"
>
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>

  <!-- Main Content -->
  <main
    class="flex-1 overflow-y-auto ml-0 md:ml-72 transition-all duration-300"
  >
    <div class="p-6 max-w-7xl mx-auto">
      <div
        *ngIf="isRootRoute"
        class="min-h-screen flex flex-col items-center justify-center bg-gray-100 text-center px-4"
      >
        <h1 class="text-4xl font-bold text-blue-700 mb-4">
          Hello, welcome to learning platform!
        </h1>
        <p class="text-lg text-gray-600">
          Let’s learn something amazing today.
        </p>
      </div>
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
